<div class="center">
<div [formGroup]="loadForm">
  <label>Введите JSON</label>
  <div>
  <textarea matInput
            [formControl]="inputArea"
            #dataInput></textarea>
  </div>
  <div>
  <button mat-button class="control mat-button"
          [disabled]="dataInput.textLength === 0" (click)="loadData(dataInput.value)">Сохранить</button>
  </div>
</div>
</div>
