<form [formGroup]="formGroup">
    <div>
      <label>Описание</label>
      <div>
        <input matInput type="text" value="{{project.description}}" #descriptionInput>
      </div>
    </div>
    <div>
      <label>Дата начала</label>
      <label>Дата окончания</label>
      <label>Автор</label>
      <div class="sm-col-8">
        <input #startDateInput disabled="true" matInput
               type="date" value="{{project.startDate | date}}">
        <input #endDateInput disabled="true" matInput
               type="date" value="{{project.endDate | date}}">
        <input #authorInput matInput type="text" value="{{project.createdBy}}">
      </div>
    </div>
</form>
